*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
}
.btns{
    /*text-align: center;
    display: block;
    color: white;
    background: cadetblue;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;*/
}
.right-booking{
    width: 280px;
    left: 69%;
    top: -133px;
}